
body{
    font-family: 'Montserrat', sans-serif;

}


/* /////////////////////title/////////////////////////// */

#title{
    height: 150px;
    background-color: #85F4FF;
    color: white;
}
/* .container-fluid2{
    padding: 3% 15% 7%;
} */
h1 {
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem; 
}

p{
    color: #8f8f8f;
}
/* .navbar */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
} 

.nav-link{
    margin: 0 18px;
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
    text-decoration-color: black;
}


/* /////////////foooter////////// */
#footer{
    background-color: #85F4FF;
    /* padding: 5px 0px 1px 0px ; */
    padding: 5% 15%;
    text-align: center;
}
.footer-icon{
    margin: 3% 1% ;

}



/* navbar css ends here  */
#main
{
	text-align: center;
}
.my-info{
    padding: 2rem 5rem;
}


.btn-info{
    padding: 1rem 1.2rem;
    background-color: #0a2037!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: #8f8f8f!important;
}